@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.content {
    z-index: 1;
    position: relative; 
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out; 
}

.fade-in.loaded {
    opacity: 1;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
}

body{
    background-image: linear-gradient(to right top, #051937, #171228, #190a1a, #12040d, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.top {
    display: flex;
    flex-direction: row;
    height: 11vh;
    border-color: rgba(165, 42, 42, 0);
    border-style: solid;
    align-items: center;
}

.t-left {

    border-color: #ffbd59;
    border-style: solid;
    border-width: 2px;
    flex: 1;
    height: 0vh;
    margin-right: 50px;

}

.t-middle {

    display: flex;
    border-color: rgba(165, 42, 42, 0);
    border-style: solid;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.t-right {

    border-color: #ffbd59;
    border-style: solid;
    border-width: 2px;
    flex: 1;
    height: 0vh;
    margin-left: 50px;

}

.homelink{
    color: #ffbd59;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight:200;
    transition: color 0.5s ease-in-out; 
    position: relative;
}

.aboutlink, .contactlink{
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight:200;
    transition: color 0.5s ease-in-out; 
    position: relative;
}

.top .t-middle a:hover {
    color: #ffbd59;
}

.top .t-middle a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffbd59;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.top .t-middle a:hover::after {
    transform: scaleX(1);
}

.middle{
    border-color: rgba(165, 42, 42, 0);
    border-style: solid;
    display: flex;
    height: 80vh;
}

.m-left{
    border-color: rgba(165, 42, 42, 0);
    border-style: solid;
    width: 150px;
}

.middle .m-left img{
    height: 420px;
    position: relative;
    left: -280px;
    display: block;
    top: 3px;
    animation: rotateSwipe 1s ease-in-out forwards;
}

@keyframes rotateSwipe {
from {
    transform: rotate(40deg);
}
to {
    transform: rotate(0deg);
}
}

.m-center{
    border-color: rgba(39, 255, 1, 0);
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.m-text{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    border-color: rgba(255, 1, 1, 0);
    border-style: solid;
}

.big-sign{
    font-size: 150px;
}

.details1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 45px;
    margin-left: 80px;
    margin-bottom: -100px;
    color: #97A6A6;
}

.details2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 75px;
    margin-bottom: -50px;
    color: #8C52FF;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    animation: typing 1s steps(70, end) forwards;
    animation-delay: 0.8s;
}

@keyframes typing {
from { max-width: 0 }
to { max-width: 100% }
}


.details3 {
    margin-left: 110px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 65px;
    color: #ffbd59;
    overflow: hidden;
    white-space: nowrap; 
    max-width: 0;
    animation: typing2 1s steps(70, end) forwards;
    animation-delay: 1.7s; 
}

@keyframes typing2 {
from { max-width: 0 }
to { max-width: 350px }
}

.m-text-middle{
    display: flex;
    flex-direction: column;
    border-left: 4px solid #ffbd59;
    padding-left: 15px;
    margin-left: 120px;
    margin-top: 20px;
}

.details4{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: italic;
    margin-top: 8px;
    font-size: 19px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
to {
    opacity: 1;
    transform: translateY(0);
}
}

.mbutton {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    margin-top: 15px;
    color: #ffbd59;
    width: 140px;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
    padding-bottom: 5px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 1s;
}

@keyframes fadeUp {
to {
    opacity: 1;
    transform: translateY(0);
}
}

.mbutton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffbd59;
    transition: width 0.3s ease-in-out;
}

.mbutton:hover::after {
    width: 100%;
    
}


.m-socials {
    display: flex;
    flex-direction: row;
    border-color: rgba(60, 1, 255, 0);
    border-style: solid;
    position: relative;
    bottom: -50px;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
}

.m-socials a{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.m-socials a:hover {
    color: #8C52FF;
    transform: scale(1.3);
}

.m-end-mobile{
    display: none;
}

.m-right{
    border-color: rgba(144, 165, 42, 0);
    border-style: solid;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.m-right img{
    width: 580px;
    height: 580px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.m-end-mobile-blob{
    display: none;
}

.blob {
    margin-left: 45px;
    margin-top: 100px;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at 30% 30%, #ffbd59, #ff9d00);
    border-radius: 50%;
    animation: grow 0.8s ease-out forwards, blob 5s infinite ease-in-out;
    transform: scale(0); 
}


@keyframes grow {
    to {
    transform: scale(1);
    }
}

@keyframes blob {
    0%,
    100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    25% {
    border-radius: 60% 40% 70% 30% / 30% 60% 40% 70%;
    }
    50% {
    border-radius: 40% 60% 30% 70% / 70% 30% 60% 40%;
    }
    75% {
    border-radius: 50% 50% 65% 35% / 35% 65% 50% 50%;
    }
}

@media (max-width: 480px) {

    .body {
        height: auto;
    }

    .t-left{
        display: none;
    }

    .t-right{
        display: none;
    }

    .t-middle{
        width: 100%;
        justify-content: space-evenly;
    }

    .t-middle a{
        font-size: 10px;
    }

    .top{
        height: 10vh;
        width: 100%;
        border-color: rgba(165, 42, 42, 0);
        border-style: solid;
    }

    .m-left {
        width: 50px;
        border-color: rgba(165, 42, 42, 0);
        border-style: solid;
        
    }

    .middle .m-left img{
        height: 220px;
        left: -150px;
        top: 140px;
    }

    .middle{
    border-color: rgba(71, 42, 165, 0);
    border-style: solid;
    flex-wrap: wrap;
    }

.m-center{
    border-color: rgba(255, 35, 1, 0);
    border-style: solid;
    display: flex;
    flex: 1;
    height: 55vh;
    flex-direction: column;
}

.m-text{
    margin-top: 10px;
    border-color: rgba(255, 1, 1, 0);
    border-style: solid;
}

.big-sign{
    font-size: 55px;
}

.details1 {

    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-left: 8px;
}

.details2 {
    font-size: 35px;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-left: -30px;

}

.details3 {
    margin-left: 30px;
    font-size: 35px;
    margin-top: -22px; 
}

.m-text-middle{
    border-left: 3px solid #ffbd59;
    padding-left: 0px;
    margin-left: 50px;
    margin-top: 15px;
    width: 220px;
}

.details4{
    margin-left: 10px;
    font-size: 12px;
}


.mbutton {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
}


.m-socials {
    display: flex;
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-right: 70px;
    justify-content: space-evenly;
}

.m-socials i {
    font-size: 25px;
}

.m-right{
    display: flex;
    justify-content: center;
    border-color: rgba(247, 255, 1, 0);
    border-style: solid;
    width: 100%;
}


.m-right img{
    width: 250px;
    height: 250px;
    bottom: 0px;
    z-index: 1;
}

.blob {
    display: none;
}

.m-end-mobile-blob {
    display: flex;
    justify-content: center;
}

.m-end-mobile-blob img{
    width: 100%;
    height: 150px;
}

}
